.p-home-page .main {
  display: flex;
  padding: 20px 15px 60px;
}
.p-home-page .home-column {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.p-home-page .home-column:nth-child(2) {
  margin-top: 70px;
}
.p-home-page .home-label {
  font-size: 0.8rem;
  color: #11e51c;
}
.p-home-page .letter-green {
  color: #15dc15;
  font-weight: bold;
}
.p-home-page .home-img {
  width: 100%;
  object-fit: cover;
}
.p-home-page .logo {
  width: 60px;
}
.p-home-page .home-subtitle {
  margin: 20px 0;
}
.p-home-page .home-text {
  margin-bottom: 40px;
}
.p-home-page .home-button {
  max-width: 320px;
  font-weight: bold;
}
@media (max-width: 992px) {
  .p-home-page .home-column:nth-child(2) {
    margin-top: 0;
  }
}
