.p-login-page .main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px 60px;
}
.p-login-page .login-column {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.p-login-page .my-skoda-login-label {
  font-size: 0.8rem;
  color: #000;
}
.p-login-page .letter-green {
  color: #1ce84c;
  font-weight: bold;
}
.p-login-page .login-img-wrap {
  position: relative;
  margin-bottom: 40px;
}
.p-login-page .login-img {
  width: 100%;
  object-fit: cover;
}
.p-login-page .logo {
  width: 60px;
  position: absolute;
  right: 40px;
  top: 30px;
  z-index: 1;
}
@media (max-width: 992px) {
  .p-login-page .logo {
    width: 40px;
  }
}
@media (max-width: 576px) {
  .p-login-page .logo {
    width: 30px;
  }
}
